{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png" title="{{ top }}">
    <br>
    <h1>
    Visit<a href = "http://131d5290-00e4-48da-b456-ea64a03eaa2e-ide.cs50.xyz/register"> Register</a>
    <br>
    Visit<a href = "http://131d5290-00e4-48da-b456-ea64a03eaa2e-ide.cs50.xyz/login"> Log in</a>
    </h1>
{% endblock %}
